daphne
Django==5.0
sqlparse==0.4.4
tzdata==2024.1
psycopg2-binary==2.9.6
python-dotenv==1.0.0
djangorestframework
djangorestframework-simplejwt
rest_framework_simplejwt
django-filter
drf-extensions
django-parler
django-parler-rest
django-cors-headers
django-redis
celery[redis]
django-celery-beat
aiogram
databases[postgresql]
python-utils
django-rest-swagger
drf-yasg
drf-writable-nested
Pillow
whitenoise